.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    
    background: var(--gray-700);

    padding: 7.2rem;
}

.header img {
    width: 1.375rem;    
}

.header strong {
    color: var(--blue-500);
    font-size: 2.5rem;
    font-weight: 900;
}

.header strong span {
    color: var(--purple-900);
}

.inputWrapper {
    position: absolute;
    bottom: -20px;

    width: 100%;
    padding: 0 20rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

}

.inputWrapper input {
    width: 100%;
    
    background: var(--gray-500);
    border: 0;
    border-radius: 8px;
    
    color: var(--gray-300);

    padding: 1rem;
}

.inputWrapper input::placeholder {
    color: var(--gray-300);
}



.inputWrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    
    background: var(--blue-900);
    border: none;
    border-radius: 8px;

    padding: 1rem;

    color: var(--gray-100);
    font-weight: bold;

    cursor: pointer;
}

.inputWrapper button svg {
    stroke-width: 2;
}


@media(max-width: 1024px) {
    .inputWrapper {
        padding: 0 4rem;
    }

}